
@{
    ViewBag.Title = "Dental";
}

<h1>Dental</h1>

<div>
    <h2>IMPLANTOLOGÍA</h2>
    La implantología consiste en la colocación de uno o varios tornillos de titanio dentro del hueso. Estos tornillos simulan las raíces de él o los dientes perdidos.
</div>

<div>
    ORTODONCIA
    La ortodoncia es la especialidad que se encarga de la corrección de los dientes y huesos posicionados incorrectamente.
</div>

<div>
    <h2>ODONTOPEDIATRÍA</h2>
    Es la especialidad encargada del manejo de la salud dental de niños y adolescentes.
</div>

<div>
    <h2>BLANQUEAMIENTO</h2>
    El blanqueamiento dental es un tratamiento estético dental que logra dientes más blancos y brillantes.
</div>

<div>
    <h2>CIRUGÍA ORAL</h2>
    La cirugía oral, permite ayudar al paciente en diferentes situaciones: la principal, la exodoncia o eliminación de piezas dentales.
</div>

<div>
    <h2>RADIOLOGÍA</h2>
    Contamos con apoyo Rx para cada una de las necesidades y especialidades, lo que permite lograr un diagnóstico certero, veraz y fidedigno.
</div>

<div>
    <h2>ENDODONCIA</h2>
    La endodoncia o tratamiento de conducto consiste en la extirpación del paquete vásculo-nervioso (el nervio del diente) que se encuentra en el interior del diente.
</div>

<div>
    <h2>PLANOS DE RELAJACIÓN</h2>
    El plano de relajación, permite proteger las piezas dentales del exceso de fuerzas y relajar la musculatura.
</div>

<div>
    <h2>LIMPIEZA DENTAL</h2>
    La limpieza dental corresponde a un procedimiento común, donde se realiza higienización de la parte visible del diente.
</div>

<div>
    <h2>PERIODONCIA</h2>
    La periodoncia es la especialidad que se dedica a tratar las enfermedades de las encías logrando salud y mantención en el tiempo.
</div>

<div>
    <h2>OPERATORIA</h2>
    Es la especialidad que tiene como fin, reconstruir la porción o parte de la pieza dentaria que fue dañada por la caries dental.
</div>

<div>
    <h2>REHABILITACIÓN ORAL</h2>
    La Rehabilitación Oral es la especialidad encargada de devolver la estética y función oral cuando se han perdido las piezas dentales.
</div>

<div>
    <h2>SEDACIÓN CONSCIENTE</h2>
    Para mayor tranquilidad del paciente, se utilizan medicamentos que producen diferentes grados de adormecimiento y tranquilidad, permitiendo que el tratamiento odontológico se pueda realizar sin malestar, tensión o trauma psicológico.
</div>
