
@{
    ViewBag.Title = "Dental";
}

<head>
    <meta charset="utf-8">
    <title> Cronos </title>
    <link href="/content/tallereva2.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/Content/img/mini3.jpg" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

</head>

<div class="topnav sticky">
    <div class=" logo">
        <a href="Index"><img src="/Content/img/logo4.png" class="logo pumpy"> línica Cronos</a>
    </div>
    <a class="active topnav-a bumpy" href="Login">Ingresar</a>
    <a href="/Home/Examenes" class="topnav-a bumpy">Examenes</a>
    <a href="/Home/Dental" class="topnav-a bumpy">Dental</a>
    <a href="/Home/Imagenologia" class="topnav-a bumpy">Imagenología</a>
</div>


<h1>DENTAL</h1>

<div align="center"><img src="~/Content/img/dental.jpg" /></div>

<div>
    <h2>IMPLANTOLOGÍA</h2>
    <p class="p2">La implantología consiste en la colocación de uno o varios tornillos de titanio dentro del hueso. Estos tornillos simulan las raíces de él o los dientes perdidos.</p>
</div>

<div>
    <h2>ORTODONCIA</h2>
    <p class="p2">La ortodoncia es la especialidad que se encarga de la corrección de los dientes y huesos posicionados incorrectamente.</p>
</div>

<div>
    <h2>ODONTOPEDIATRÍA</h2>
    <p class="p2">Es la especialidad encargada del manejo de la salud dental de niños y adolescentes.</p>
</div>

<div>
    <h2>BLANQUEAMIENTO</h2>
    <p class="p2">El blanqueamiento dental es un tratamiento estético dental que logra dientes más blancos y brillantes.</p>
</div>

<div>
    <h2>CIRUGÍA ORAL</h2>
    <p class="p2">La cirugía oral, permite ayudar al paciente en diferentes situaciones: la principal, la exodoncia o eliminación de piezas dentales.</p>
</div>

<div>
    <h2>RADIOLOGÍA</h2>
    <p class="p2">Contamos con apoyo Rx para cada una de las necesidades y especialidades, lo que permite lograr un diagnóstico certero, veraz y fidedigno.</p>
</div>

<div>
    <h2>ENDODONCIA</h2>
    <p class="p2">La endodoncia o tratamiento de conducto consiste en la extirpación del paquete vásculo-nervioso (el nervio del diente) que se encuentra en el interior del diente.</p>
</div>

<div>
    <h2>PLANOS DE RELAJACIÓN</h2>
    <p class="p2">El plano de relajación, permite proteger las piezas dentales del exceso de fuerzas y relajar la musculatura.</p>
</div>

<div>
    <h2>LIMPIEZA DENTAL</h2>
    <p class="p2">La limpieza dental corresponde a un procedimiento común, donde se realiza higienización de la parte visible del diente.</p>
</div>

<div>
    <h2>PERIODONCIA</h2>
    <p class="p2">La periodoncia es la especialidad que se dedica a tratar las enfermedades de las encías logrando salud y mantención en el tiempo.</p>
</div>

<div>
    <h2>OPERATORIA</h2>
    <p class="p2">Es la especialidad que tiene como fin, reconstruir la porción o parte de la pieza dentaria que fue dañada por la caries dental.</p>
</div>

<div>
    <h2>REHABILITACIÓN ORAL</h2>
    <p class="p2">La Rehabilitación Oral es la especialidad encargada de devolver la estética y función oral cuando se han perdido las piezas dentales.</p>
</div>

<div>
    <h2>SEDACIÓN CONSCIENTE</h2>
    <p class="p2">Para mayor tranquilidad del paciente, se utilizan medicamentos que producen diferentes grados de adormecimiento y tranquilidad, permitiendo que el tratamiento odontológico se pueda realizar sin malestar, tensión o trauma psicológico.</p>
</div>
</p>
<footer>
    <center>
        2020 &copy; Clinica Cronos - Derechos Reservados - Santa Isabel 41, Santiago Centro
    </center>
</footer>
