
@{
    ViewBag.Title = "Examenes";
}

<h2>Examenes</h2>

<p style="text-align: center!important;font-size: 18px;color:#747473;line-height: 24px;">En <strong>Cl&iacute;nicas Cronos</strong> podr&aacute;s realizarte ex&aacute;menes y procedimientos diagn&oacute;sticos y terap&eacute;uticos, para distintas <strong style="color: blue;">patolog&iacute;as cardiol&oacute;gicas, dermatol&oacute;gicas, gastroenterol&oacute;gicas</strong> y de <strong style="color: blue;">otorrino</strong>; as&iacute; como tambi&eacute;n <strong style="color: blue;">im&aacute;genes gineco-obst&eacute;tricas</strong>.</p>

<div class="col-lg-12 col-xs-12">
    <h3 class="titulo-desplegable">ELECTROCARDIOGRAMA</h3>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">El electrocardiograma es un registro de las se&ntilde;ales el&eacute;ctricas del coraz&oacute;n, que se utiliza para detectar problemas card&iacute;acos y controlar el estado del coraz&oacute;n. La prueba es r&aacute;pida y no invasiva, consiste en la instalaci&oacute;n de unos sensores (electrodos) en el t&oacute;rax y, a veces, en las extremidades del paciente durante unos minutos.</p>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">&nbsp;</p>

    <h3 class="titulo-desplegable">ECOCARDIOGRAMA DOPPLER COLOR</h3>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">Es una prueba diagn&oacute;stica que entrega una imagen del movimiento del coraz&oacute;n y, adem&aacute;s, entrega informaci&oacute;n acerca de la forma, tama&ntilde;o, fuerza, funci&oacute;n y grosor de sus paredes, as&iacute; como del funcionamiento de sus v&aacute;lvulas. Adem&aacute;s, puede mostrar la circulaci&oacute;n pulmonar y sus presiones, y si existe l&iacute;quido alrededor del coraz&oacute;n.</p>
</div>

<div class="col-lg-12 col-xs-12">
    <h3 class="titulo-desplegable">HOLTER DE PRESI&Oacute;N</h3>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">Es una t&eacute;cnica para medir la presi&oacute;n arterial durante las actividades diarias e incluso durante el sue&ntilde;o. Para eso, se coloca un equipo de medida y un manguito que recoge las m&uacute;ltiples medidas de la presi&oacute;n arterial durante, generalmente, 24 horas; las lecturas son cada 15-20 minutos en actividad y cada 20-30 minutos durante el sue&ntilde;o.</p>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">&nbsp;</p>

    <h3 class="titulo-desplegable">HOLTER DE RITMO</h3>

    <p><span style="color:#747473;">El Holter de arritmia es una electrocardiograf&iacute;a ambulatoria que consiste en el registro de la actividad el&eacute;ctrica del coraz&oacute;n durante un tiempo prolongado, en un paciente que est&aacute; en movimiento.</span></p>
</div>

<div class="col-lg-12 col-xs-12">
    <h3 class="titulo-desplegable">TEST DE ESFUERZO</h3>

    <p>
        <span style="color:#747473;">
            Es una prueba diagn&oacute;stica que consiste en realizar un registro card&iacute;aco durante un esfuerzo controlado.<br />
            Se usa para estudiar a pacientes con sospecha de enfermedad coronaria, para medir la capacidad funcional del coraz&oacute;n y revisar una serie de s&iacute;ntomas. Tambi&eacute;n se solicita para evaluar el dolor tor&aacute;cico y la capacidad f&iacute;sica de pacientes que presentan cardiopat&iacute;as o insuficiencia cardiaca.
        </span>
    </p>
</div>
</div>

</div>

<div class="col-lg-12 col-xs-12">
    <h3 class="titulo-desplegable">TEST CUT&Aacute;NEO&nbsp;A AL&Eacute;RGENOS&nbsp;</h3>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">Examen de laboratorio para determinar reacci&oacute;n de la piel al contacto con determinados al&eacute;rgenos.</p>
</div>

<div class="col-lg-12 col-xs-12">
    <h3 class="titulo-desplegable">EXTIRPACI&Oacute;N EN CABEZA, CUELLO GENITALES HASTA 3 LESIONES</h3>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">Extirpaci&oacute;n de alguna lesi&oacute;n como, por ejemplo, un lunar ubicado en esas zonas.</p>
</div>

<div class="col-lg-12 col-xs-12">
    <h3 class="titulo-desplegable">EXTIRPACI&Oacute;N EN CABEZA, CUELLO GENITALES DESDE 4 Y HASTA 6 LESIONES</h3>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">Extirpaci&oacute;n de alguna lesi&oacute;n como, por ejemplo, un lunar ubicado en esas zonas.</p>
</div>

<div class="col-lg-12 col-xs-12">
    <h3 class="titulo-desplegable">EXTIRPACI&Oacute;N EN CARA, CUELLO CABELLUDO, CUELLO, GENITALES</h3>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">Extirpaci&oacute;n de quistes, lipomas, tumores benignos de alguna de esas zonas.</p>
</div>
</div>

<div class="col-lg-12 col-xs-12">
    <h3 class="titulo-desplegable">COLONOSCOP&Iacute;A</h3>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">Este procedimiento es una exploraci&oacute;n que permite la visualizaci&oacute;n directa de todo el intestino grueso y, de ser necesario, de la parte final del intestino delgado (&iacute;leon terminal). Se realiza como prueba diagn&oacute;stica, para la extracci&oacute;n de muestras que ir&aacute;n a biopsia y con fines terap&eacute;uticos endosc&oacute;picos. Utiliza sedaci&oacute;n.</p>
</div>

<div class="col-lg-12 col-xs-12">
    <h3 class="titulo-desplegable">ENDOSCOP&Iacute;A (GASTRODUODENOSCOP&Iacute;A)</h3>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">Este procedimiento se realiza para visualizar el es&oacute;fago, est&oacute;mago y duodeno, mediante el uso de un endoscopio, tubo flexible cuya cabeza m&oacute;vil y controlada por el especialista tiene una c&aacute;mara de video y luz que ilumina el &oacute;rgano a examinar. La imagen es transmitida a un monitor para poder identificar lesiones como &uacute;lceras o erosiones. Durante el examen tambi&eacute;n se pueden obtener muestras de tejido para realizar biopsias. El examen se realiza bajo sedaci&oacute;n.</p>
</div>
</div>

<div class="col-lg-12 col-xs-12">
    <h3 class="titulo-desplegable">ECOGRAFIA&nbsp;TRANSVAGINAL O TRANSRECTAL</h3>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">Procedimiento ecogr&aacute;fico destinado a evaluar la normalidad de los genitales internos de la mujer, como el &uacute;tero y los ovarios. Tambi&eacute;n sirve para el diagn&oacute;stico de embarazo iniciales o tumores en la zona p&eacute;lvica.</p>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">Este procedimiento requiere que la paciente se encuentre con la vejiga vac&iacute;a al momento de realizarlo.</p>
</div>

<div class="col-lg-12 col-xs-12">
    <h3 class="titulo-desplegable">ECOGRAFIA&nbsp;PELVIANA FEMENINA U OBST&Eacute;TRICA</h3>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">La ecotomograf&iacute;a ginecol&oacute;gica pelviana est&aacute; orientada a evaluar la normalidad de los genitales internos de la mujer, como el &uacute;tero y los ovarios, en pacientes que no hayan tenido relaciones sexuales. Requiere vaciado vesical para realizarse.</p>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">La ecotomograf&iacute;a obst&eacute;trica est&aacute; destinada a evaluar al feto, la placenta y el l&iacute;quido amni&oacute;tico. En esta ecograf&iacute;a se eval&uacute;a la normalidad anat&oacute;mica y estimaci&oacute;n de peso fetal.</p>
</div>

<div class="col-lg-12 col-xs-12">
    <h3 class="titulo-desplegable">ECOTOMOGRAF&Iacute;A DOPPLER DE VASOS PLACENTARIOS</h3>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">La ecograf&iacute;a Doppler es una ecograf&iacute;a en color que permite evaluar el flujo sangu&iacute;neo en cualquier arteria o vena. En obstetricia es de especial relevancia para el estudio circulaci&oacute;n fetal y materna uterina, ya sea como parte de screening* o en patolog&iacute;as diversas como restricci&oacute;n de crecimiento fetal.</p>

    <ul style="color:#747473;font-size: 16px;line-height: 22px;">
        <li><strong>Screening 11-14 semanas</strong>: Es una de las ecograf&iacute;as m&aacute;s importantes del embarazo. En este examen se puede hacer un evaluaci&oacute;n de riesgo de aneuploid&iacute;as (enfermedades cromos&oacute;micas como el S&iacute;ndrome de Down) y Preeclampsia (hipertensi&oacute;n arterial propia del embarazo). As&iacute; tambi&eacute;n se puede hacer una evaluaci&oacute;n anat&oacute;mica precoz del feto buscando malformaciones.</li>
        <li><strong>Screening 20-24 semanas</strong>: Otra de las exploraciones imprescindibles en el embarazo. En este examen se hace una evaluaci&oacute;n rigurosa de la anatom&iacute;a fetal buscando malformaciones, se vuelve a hacer una evaluaci&oacute;n de riesgo de preeclampsia, y se incluye evaluaci&oacute;n de riesgo de parto prematuro.</li>
        <li><strong>Screening 35-37 semanas</strong>: Destinado a la evaluaci&oacute;n de crecimiento fetal y cantidad de l&iacute;quido amni&oacute;tico. Adem&aacute;s, se realiza una evaluaci&oacute;n anat&oacute;mica tard&iacute;a destinada a evaluar algunos defectos anat&oacute;micos que son progresivos y que pudiesen no haber sido detectados en exploraciones previas.</li>
    </ul>
</div>
</div>

<div class="col-lg-12 col-xs-12">
    <h3 class="titulo-desplegable">IMPEDANCIOMETR&Iacute;A O TIMPANOMETR&Iacute;A</h3>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">Es un examen que eval&uacute;a el estado del t&iacute;mpano y del o&iacute;do medio. Para efectuar este examen se requiere que el conducto auditivo externo est&eacute; limpio y, por lo general, no se realiza cuando el t&iacute;mpano est&aacute; roto o perforado. Es un examen de corta duraci&oacute;n en el que se sella el conducto auditivo externo, se aplica presi&oacute;n positiva y negativa y luego se emite un sonido; no representa dolor.</p>
</div>

<div class="col-lg-12 col-xs-12">
    <h3 class="titulo-desplegable">NASOFARINGOLARINGOFIBROSCOP&Iacute;A O NASOFIBROSCOP&Iacute;A</h3>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">Este procedimiento permite ver, a trav&eacute;s de una fibra &oacute;ptica flexible, la anatom&iacute;a de la nariz, faringe y laringe. Para efectuar el examen se sugiere no ingerir alimentos en las dos horas que lo anteceden, y se utiliza anestesia local en spray o puff en las fosas nasales para introducir la fibra &oacute;ptica flexible. Es un examen de corta duraci&oacute;n, que no produce dolor, solo sensaci&oacute;n de cuerpo extra&ntilde;o. Se realiza en ni&ntilde;os y adultos.</p>
</div>

<div class="col-lg-12 col-xs-12">
    <h3 class="titulo-desplegable">EXAMEN FUNCIONAL VIII PAR</h3>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">Este examen eval&uacute;a la funci&oacute;n del o&iacute;do, en t&eacute;rminos de equilibrio y audici&oacute;n. Para eso, se realizan tres pruebas:</p>

    <ul style="color:#747473;font-size: 16px;line-height: 22px;">
        <li>Medici&oacute;n de la capacidad de la audici&oacute;n, tanto de la c&oacute;clea como de la funci&oacute;n del nervio auditivo (audiometr&iacute;a).</li>
        <li>Medici&oacute;n de la funci&oacute;n del vest&iacute;bulo del o&iacute;do interno y los canales, mediante movimientos de la cabeza.</li>
        <li>Evaluaci&oacute;n de la funci&oacute;n de los nervios vestibulares que conducen informaciones del equilibrio hacia el cerebro, mediante la aplicaci&oacute;n de agua o aire fr&iacute;o, luego tibio, ambos en el conducto auditivo externo.</li>
    </ul>

    <p style="color:#747473;font-size: 16px;line-height: 22px;">Este examen requiere ayuno de al menos cinco horas y un acompa&ntilde;ante; dura alrededor de una hora.</p>
</div>
</div>

