
@{
    ViewBag.Title = "Imagenologia";
}

<head>
    <meta charset="utf-8">
    <title> Cronos </title>
    <link href="/content/tallereva2.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/Content/img/mini3.jpg" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

</head>

<div class="topnav sticky">
    <div class=" logo">
        <a href="Index"><img src="/Content/img/logo4.png" class="logo pumpy"> línica Cronos</a>
    </div>
    <a class="active topnav-a bumpy" href="Login">Ingresar</a>
    <a href="/Home/Examenes" class="topnav-a bumpy">Examenes</a>
    <a href="/Home/Dental" class="topnav-a bumpy">Dental</a>
    <a href="/Home/Imagenologia" class="topnav-a bumpy">Imagenología</a>
</div>


<h1>Servicios de Imagenolog&iacute;a Clinica Cronos</h1>

<div align="center"><img src="~/Content/img/imagenologia.png" width="800" /></div>

<p class="p2">En Clinica Cronos contamos con la &uacute;ltima tecnolog&iacute;a en Im&aacute;genes para entregar un diagn&oacute;stico certero y de calidad a nuestros pacientes.</p>

<p class="p2">Contamos con resonadores de &uacute;ltima generaci&oacute;n en el mundo cl&iacute;nico y &uacute;nicos en el pa&iacute;s. Se trata de equipos de la marca General Electric (GE), l&iacute;der en este tipo de equipamiento m&eacute;dico. Asimismo, contamos con equipos de la reconocida marca Philips.</p>

<h2>MEDICINA NUCLEAR</h2>

<p class="p2">Clinica Cronos cuenta con el equipo de cintigraf&iacute;a SPECT-CT, tecnolog&iacute;a de rayos gamma para la toma de im&aacute;genes de alta resoluci&oacute;n, permitiendo adem&aacute;s combinar aspectos de la anatom&iacute;a con el metabolismo en &oacute;rganos y huesos. Ello permite, a trav&eacute;s de un solo examen, detectar tempranamente y de forma precisa cualquier tipo de alteraci&oacute;n.</p>

<h2>RESONANCIAS</h2>

<p class="p2">Contamos con resonadores de &uacute;ltima generaci&oacute;n en el mundo cl&iacute;nico y &uacute;nicos en el pa&iacute;s. Se trata de equipos de la marca General Electric (GE), l&iacute;der en este tipo de equipamiento m&eacute;dico. Asimismo, contamos con equipos de la reconocida marca Philips.</p>

<h2>SCANNER</h2>

<p class="p2">Con el respaldo de la marca Phillips, Clinica Cronos incorpor&oacute; una moderna flota de equipos para scanner con la tecnolog&iacute;a iDose, la m&aacute;s moderna para este tipo de ex&aacute;menes. Tambi&eacute;n contamos con equipos de la marca Toshiba.</p>

<h2>RADIOGRAFÍAS</h2>

<p class="p2">Incorporamos equipos de rayos x con sistema de detecci&oacute;n digital directo, que permite obtener im&aacute;genes de alta resoluci&oacute;n, las que contribuyen a obtener diagn&oacute;sticos m&aacute;s precisos.</p>

<h2>MAMOGRAFÍAS</h2>

<p class="p2">El sistema de mamograf&iacute;a Senographe Crystal Nova combina una tecnolog&iacute;a probada de adquisici&oacute;n 100% digital con un campo de visi&oacute;n completo de 24x29cm. Tambi&eacute;n contamos con mam&oacute;grafos Hologic modelo Selenia.</p>

<h2>ECOGRAFÍAS</h2>

<p class="p2">Clinica Cronos cuenta con equipos EPIQ5, arquitectura m&aacute;s poderosa aplicada a las im&aacute;genes de ultrasonido, que reinvent&oacute; por completo la experiencia de los usuarios en este tipo de ex&aacute;menes. Otros equipos de ecograf&iacute;as corresponden a la marca Siemens modelo Acusson S2000.</p>

<footer>
    <center>
        2020 &copy; Clinica Cronos - Derechos Reservados - Santa Isabel 41, Santiago Centro
    </center>
</footer>