<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title> Cronos </title>
    <link href="/content/tallereva2.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/Content/img/mini3.jpg" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

</head>
<body>


    <div class="topnav sticky">
        <div class=" logo">
            <a href="/Home/Logout"><img src="/Content/img/logo4.png" class="logo pumpy"> línica Cronos</a>

        </div>
        <a class="active topnav-a bumpy" href="/Home/Logout">Cerrar Sesión</a>
        <a class="active topnav-a bumpy" href="/Administrador/Citas">Citas</a>
        <a class="active topnav-a bumpy" href="/Administrador/Horas">Horas</a>
        <a class="active topnav-a bumpy" href="/Administrador/Servicios">Servicios</a>
        <a class="active topnav-a bumpy" href="/Administrador/Pacientes">Pacientes</a>
        <a class="active topnav-a bumpy" href="/Administrador/Usuarios">Usuarios</a>
    </div>

    <form method="post" action="/BDD/ingresarPaciente" style="width:20%; margin-left:100px; margin-top:100px;">
        <label for="text"><h1> Registro de Pacientes </h1></label>
        <br><br>
        <div class="form-group">
            <label for="text">ID Cliente</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="ID_Cliente">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">ID_Usuario</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="ID_Usuario">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">ID Servicio</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="ID_Servicio">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">ID Hora</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="ID_Hora">
        </div>
        <button type="submit" name="Submit" class="btn btn-primary" value="Insertar">Ingresar</button>


    </form>

    <form method="post" action="/BDD/eliminarPaciente" style="width:20%; margin-left:100px; margin-top:100px;">
        <label for="text"><h3> Eliminar Hora Paciente </h3></label>
        <div class="form-group">
            <label for="text">Ingrese ID Cita a eliminar</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Rut">
        </div>

        <button type="submit" name="Submit" class="btn btn-primary" value="Eliminar">Eliminar</button>

    </form>

    <form method="post" action="/BDD/editarPaciente" style="width:20%; margin-left:100px; margin-top:100px;">
        <label for="text"><h3> Editar Pacientes </h3></label>
        <br><br>
        <div class="form-group">
            <label for="text">ID Cita</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="ID_Cita">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">ID_Cliente</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="ID_Cliente">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">ID_Usuario</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="ID_Usuario">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">ID Servicio</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="ID_Servicio">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">ID Hora</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="ID_Hora">
        </div>
        <button type="submit" name="Submit" class="btn btn-primary" value="Insertar">Editar</button>
    </form>




</body>


</html>