<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title> Cronos </title>
    <link href="/content/tallereva2.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/Content/img/mini3.jpg" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    @Styles.Render("~/Content/tallereva2.css")

</head>
<body>


    <div class="topnav sticky">
        <div class=" logo">
            <a href="/Home/Logout"><img src="/Content/img/logo4.png" class="logo pumpy"> línica Cronos</a>

        </div>
        <a class="active topnav-a bumpy" href="/Home/Logout">Cerrar Sesión</a>
        <a class="active topnav-a bumpy" href="/Administrador/Citas">Citas</a>
        <a class="active topnav-a bumpy" href="/Administrador/Horas">Horas</a>
        <a class="active topnav-a bumpy" href="/Administrador/Servicios">Servicios</a>
        <a class="active topnav-a bumpy" href="/Administrador/Pacientes">Pacientes</a>
        <a class="active topnav-a bumpy" href="/Administrador/Usuarios">Usuarios</a>
    </div>

    @Html.Raw(ViewBag.Table)
    @ViewBag.mensaje
<center>
    <form method="post" action="/BDD/ingresarHora" style="width:20%; margin-left:100px; margin-top:100px;">
        <label for="text"><h1> Registro de Horas </h1></label>
        <br><br>

        <div class="form-group">
            <label for="exampleInputPassword1">ID_Usuario</label>
            <input pattern="[0-9]+" required="" autocomplete="off" type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Id_Usuario">
        </div>


        <table style="width:18vw">

            <tr>
                <td>
                    <p>Fecha: <input required="" autocomplete="off" type="text" id="datepicker2" name="Fecha"></p>
                    <script>
                        jQuery(function ($) {
                            $("#datepicker2").datepicker();
                        });
                    </script>
                </td>
                <td>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Horas disponibles</label>
                        <select required="" autocomplete="off" readonly="" class="form-control" id="hora" name="Hora">
                            <option>8:30 AM</option>
                            <option>8:30 AM</option>
                            <option>9:00 AM</option>
                            <option>9:30 AM</option>
                            <option>10:00 AM</option>
                            <option>10:30 AM</option>
                            <option>12:00 AM</option>
                            <option>12:30 PM</option>
                            <option>1:00 PM</option>
                            <option>1:30 PM</option>
                            <option>2:00 PM</option>
                            <option>2:30 PM</option>
                            <option>3:00 PM</option>
                            <option>3:30 PM</option>
                            <option>4:00 PM</option>
                            <option>4:30 PM</option>
                            <option>5:00 PM</option>
                            <option>5:30 PM</option>
                            <option>6:00 PM</option>
                            <option>6:30 PM</option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>

        <div class="form-group">
            <label for="exampleInputPassword1">Disponible</label>
            <select required="" autocomplete="off" readonly="" class="form-control" id="Disponible" name="Disponible">
                <option>Si</option>
                <option>No</option>
            </select>
        </div>

        <label for="exampleInputPassword1">Disponible</label>

        <button type="submit" name="Submit" class="btn btn-primary" value="Insertar">Ingresar</button>


    </form>

    <form method="post" action="/BDD/eliminarHora" style="width:20%; margin-left:100px; margin-top:100px;">
        <label for="text"><h3> Eliminar Hora Paciente </h3></label>
        <div class="form-group">
            <label for="text">Ingrese ID Hora a eliminar</label>
            <input required="" autocomplete="off" type="text" class="form-control" id="exampleInputEmail1" name="Id">
        </div>

        <button type="submit" name="Submit" class="btn btn-primary" value="Eliminar">Eliminar</button>

    </form>

    <form method="post" action="/BDD/editarHora" style="width:20%; margin-left:100px; margin-top:100px;">
        <label for="text"><h3> Editar Hora </h3></label>
        <br><br>
        <div class="form-group">
            <label for="text">ID Hora</label>
            <input autocomplete="off" type="text" class="form-control" id="exampleInputEmail1" name="Id">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Id Usuario</label>
            <input required="" autocomplete="off" type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="ID_Usuario">
        </div>

        <table style="width:18vw">

            <tr>
                <td>
                    <p>Fecha: <input required="" autocomplete="off" type="text" id="datepicker" name="Fecha"></p>
                    <script>
                        jQuery(function ($) {
                            $("#datepicker").datepicker();
                        });
                    </script>
                </td>
                <td>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Horas disponibles</label>
                        <select required="" autocomplete="off" readonly="" class="form-control" id="hora" name="Hora">
                            <option>8:30 AM</option>
                            <option>8:30 AM</option>
                            <option>9:00 AM</option>
                            <option>9:30 AM</option>
                            <option>10:00 AM</option>
                            <option>10:30 AM</option>
                            <option>12:00 AM</option>
                            <option>12:30 PM</option>
                            <option>1:00 PM</option>
                            <option>1:30 PM</option>
                            <option>2:00 PM</option>
                            <option>2:30 PM</option>
                            <option>3:00 PM</option>
                            <option>3:30 PM</option>
                            <option>4:00 PM</option>
                            <option>4:30 PM</option>
                            <option>5:00 PM</option>
                            <option>5:30 PM</option>
                            <option>6:00 PM</option>
                            <option>6:30 PM</option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>


        <div class="form-group">
            <label for="exampleInputPassword1">Disponible</label>
            <select required="" autocomplete="off" readonly="" class="form-control" id="Disponible" name="Disponible">
                <option>Si</option>
                <option>No</option>
            </select>
        </div>
        <button type="submit" name="Submit" class="btn btn-primary" value="Insertar">Editar</button>
    </form>



</center>
</body>


</html>