<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title> Cronos </title>
    <link href="/content/tallereva2.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/Content/img/mini3.jpg" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

</head>
<body>


    <div class="topnav sticky">
        <div class=" logo">
            <a href="Index"><img src="/Content/img/logo4.png" class="logo pumpy"> línica Cronos</a>

        </div>
        <a class="active topnav-a bumpy" href="/Home/Logout">Cerrar Sesión</a>
        <a class="active topnav-a bumpy" href="/Administrador/Citas">Citas</a>
        <a class="active topnav-a bumpy" href="/Administrador/Horas">Horas</a>
        <a class="active topnav-a bumpy" href="/Administrador/Servicios">Servicios</a>
        <a class="active topnav-a bumpy" href="/Administrador/Pacientes">Pacientes</a>
        <a class="active topnav-a bumpy" href="/Administrador/Usuarios">Usuarios</a>
    </div>





</body>


</html>