<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title> Cronos </title>
    <link href="/content/tallereva2.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/Content/img/mini3.jpg" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="~/Scripts/validaRut.js"></script>

</head>
<body>



    <div class="topnav sticky">
        <div class=" logo">
            <a href="/Home/Logout"><img src="/Content/img/logo4.png" class="logo pumpy"> línica Cronos</a>

        </div>
        <a class="active topnav-a bumpy" href="/Home/Logout">Cerrar Sesión</a>
        <a class="active topnav-a bumpy" href="/Administrador/Citas">Citas</a>
        <a class="active topnav-a bumpy" href="/Administrador/Horas">Horas</a>
        <a class="active topnav-a bumpy" href="/Administrador/Servicios">Servicios</a>
        <a class="active topnav-a bumpy" href="/Administrador/Pacientes">Pacientes</a>
        <a class="active topnav-a bumpy" href="/Administrador/Usuarios">Usuarios</a>
    </div>

    
    <form method="post" action="/BDD/ingresarUsuario" style="width:20%; margin-left:100px; margin-top:100px;">
        <label for="text"><h1> Registro de Usuarios </h1></label>
        <br><br>
        <div class="form-group">
            <label for="text">Nombre de Usuario</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Usuario" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Clave de Usuario</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Clave" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Rut de Usuario   </label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Rut" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Telefono</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Telefono" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Oficina</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Oficina" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Especialidad</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Especialidad" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Tipo de Usuario</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Tipo" autocomplete="off">
        </div>

        <button  type="submit" name="Submit" class="btn btn-primary" value="Insertar">Ingresar</button>


    </form>
        <br> <br>
        <form method="post" action="/BDD/eliminarUsuario" style="width:20%; margin-left:100px; margin-top:100px;">
            <label for="text"><h3> Eliminar Usuarios </h3></label>
            <div class="form-group">
                <label for="text">Ingrese Rut a eliminar</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="Rut" autocomplete="off">
            </div>

            <button  type="submit" name="Submit" class="btn btn-primary" value="Eliminar">Eliminar</button>

        </form>

        <form method="post" action="/BDD/editarUsuario" style="width:20%; margin-left:100px; margin-top:100px;">
            <label for="text"><h3> Editar Usuarios</h3> </label>
            <br><br>
            <div class="form-group">
                <label for="text">Nombre de Usuario</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="Usuario" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Clave de Usuario</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Clave" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Rut de Usuario   </label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Rut" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Telefono</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Telefono" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Oficina</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Oficina" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Especialidad</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Especialidad" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Tipo de Usuario</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Tipo" autocomplete="off">
            </div>

            <button  type="submit" name="Submit" class="btn btn-primary" value="Insertar">Editar</button>

        </form>
    

</body>


</html>
