<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title> Cronos </title>
    <link href="/content/tallereva2.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/Content/img/mini3.jpg" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    
</head>
<body>


    <div class="topnav sticky">
        <div class=" logo">
            <a href="Index"><img src="/Content/img/logo4.png" class="logo pumpy"> línica Cronos</a>

        </div>

        <a href="#Contactenos" class="topnav-a bumpy">Contáctenos</a>
        <a class="active topnav-a bumpy" href="Login">Ingresar</a>
    </div>




    <div>
        <img src="/Content/img/front.jpg" class="frontimage" id="Inicio">
        <a href="Main"> <img src="/Content/img/reservar-sombra.png" class="botonreserva sombra"> </a>
        <img src="/Content/img/reservar.png" class="botonreserva rueda">

    </div>

    <div>
        <center>
            <p>
                Nuestra misión principal brindar un servicio excelencie, poniendo a tu disposición tecnología de punta en la entrega 
                de cuidados de la salud y en la seguridad de los pacientes, mejorando continua y 
                sistemáticamente la calidad de nuestros servicios, así como la experiencia de nuestro público.
            </p>
           

        </center>
    </div>


    <div id="Contactenos">
        <br><br><br><br>
        <table>
            <td>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1664.5341912870838!2d-70.63277971160544!3d-33.44752490388978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c579e58b5e79%3A0xdc707a6929a91580!2sEdificio%20Cronos!5e0!3m2!1ses-419!2scl!4v1603236287002!5m2!1ses-419!2scl" width="90%" height="90%" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </td>
            <td>
                <div class="container">
                    <form action="#sent">

                        <label for="name">Nombre</label>
                        <input type="text" id="name" name="firstname" placeholder="Tu nombre completo" autocomplete="off">

                        <label for="mail">Correo</label>
                        <input type="text" id="mail" name="mail" placeholder="Tu correo" autocomplete="off">

                        <label for="country">Pais</label>
                        <select id="country" name="country">

                            <option value="chile">Chile</option>
                            <option value="argentina">Argentina</option>
                            <option value="Brasil">Brasil</option>
                            <option value="canada">Canadá</option>
                            <option value="peru">Perú</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="usa">USA</option>
                        </select>

                        <label for="subject">Asunto</label>
                        <textarea id="subject" name="subject" placeholder="Escribe tu mensaje..."></textarea>
                        <center>
                            <input type="submit" value="Enviar">
                        </center>
                    </form>
                </div>
            </td>
        </table>
    </div>



</body>
<footer>
    <center>
        2020 &copy; Clinica Cronos - Derechos Reservados - Santa Isabel 41, Santiago Centro
    </center>
</footer>

</html>
