<html>
<head>
    <title>Reservado</title>
    <link rel="shortcut icon" href="/Content/img/mini3.jpg" />
</head>
@{
    ViewBag.Title = "Reservado";
}

<h1>¡Listo!</h1>
<h2>@ViewBag.nombre</h2>
<h3>En breves momentos recibirá en su correo su comprobante de reserva</h3>
<a href="Index"></head><button type="button" class="btn btn-primary" style="width:200px; height:30px; ">Volver</button></a>



</html>



