
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="/Content/img/mini3.jpg" />
    <title>Cronos</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function alerta() {
            alert("Bienvenido al Sistema. ");
        }
        alerta();
    </script>

</head>


<body>

    <form method="post" action="/BDD/ingresarUsuario" style="width:20%; margin-left:100px; margin-top:100px;">
        <label for="text"><h1> Registro de Usuarios </h1></label>
        <br><br>
        <div class="form-group">
            <label for="text">Nombre de Usuario</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Usuario">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Clave de Usuario</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Clave">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Rut de Usuario   </label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Rut">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Telefono</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Telefono">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Oficina</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Oficina">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Especialidad</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Especialidad">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Tipo de Usuario</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Tipo">
        </div>

        <button " type="submit" name="Submit" class="btn btn-primary" value="Insertar">Ingresar</button>


    </form>
    <br> <br>
    <form method="post" action="/BDD/eliminarUsuario" style="width:20%; margin-left:100px; margin-top:100px;">
        <label for="text"><h3> Eliminar Usuarios </h3></label>
        <div class="form-group">
            <label for="text">Ingrese Rut a eliminar</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Rut">
        </div>

        <button " type="submit" name="Submit" class="btn btn-primary" value="Eliminar">Eliminar</button>

    </form>

    <form method="post" action="/BDD/editarUsuario" style="width:20%; margin-left:100px; margin-top:100px;">
        <label for="text"><h3> Editar Usuarios</h3> </label>
        <br><br>
        <div class="form-group">
            <label for="text">Nombre de Usuario</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Usuario">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Clave de Usuario</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Clave">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Rut de Usuario   </label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Rut">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Telefono</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Telefono">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Oficina</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Oficina">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Especialidad</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Especialidad">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Tipo de Usuario</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Tipo">
        </div>

        <button " type="submit" name="Submit" class="btn btn-primary" value="Insertar">Editar</button>

    </form>

    <!-- CITAS -->

    <form method="post" action="/BDD/ingresarPaciente" style="width:20%; margin-left:100px; margin-top:100px;">
        <label for="text"><h1> Registro de Pacientes </h1></label>
        <br><br>
        <div class="form-group">
            <label for="text">Rut  Paciente</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Rut">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Nombre  Paciente</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Nombre">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Telefono Paciente  </label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Telefono">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Email Paciente</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Sexo Paciente</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Sexo">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Direccion Paciente</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Direccion">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Prevision Paciente</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Prevision">
        </div>

        <button " type="submit" name="Submit" class="btn btn-primary" value="Insertar">Ingresar</button>


    </form>

    <form method="post" action="/BDD/eliminarPaciente" style="width:20%; margin-left:100px; margin-top:100px;">
        <label for="text"><h3> Eliminar Pacientes </h3></label>
        <div class="form-group">
            <label for="text">Ingrese Rut a eliminar</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Rut">
        </div>

        <button " type="submit" name="Submit" class="btn btn-primary" value="Eliminar">Eliminar</button>

    </form>

    <form method="post" action="/BDD/editarPaciente" style="width:20%; margin-left:100px; margin-top:100px;">
        <label for="text"><h3> Editar Pacientes </h3></label>
        <br><br>
        <div class="form-group">
            <label for="text">Rut  Paciente</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Rut">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Nombre  Paciente</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Nombre">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Telefono Paciente  </label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Telefono">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Email Paciente</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Sexo Paciente</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Sexo">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Direccion Paciente</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Direccion">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Prevision Paciente</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Prevision">
        </div>

        <button " type="submit" name="Submit" class="btn btn-primary" value="Insertar">Editar</button>



    </form>


    <form method="post" action="/BDD/ingresarServicio" style="width:20%; margin-left:100px; margin-top:100px;">
        <label for="text"><h1> Registro de Servicios </h1></label>
        <br><br>
        <div class="form-group">
            <label for="text">Nombre de Servicio</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Servicio">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Precio Servicio</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Precio">
        </div>


        <button " type="submit" name="Submit" class="btn btn-primary" value="Insertar">Ingresar</button>


    </form>

    <form method="post" action="/BDD/eliminarServicio" style="width:20%; margin-left:100px; margin-top:100px;">
        <label for="text"><h3> Eliminar Servicios </h3></label>
        <div class="form-group">
            <label for="text">Ingrese Nombre de Servicio a Eliminar</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Servicio">
        </div>

        <button " type="submit" name="Submit" class="btn btn-primary" value="Eliminar">Eliminar</button>

    </form>


    <form method="post" action="/BDD/editarServicio" style="width:20%; margin-left:100px; margin-top:100px;">
        <label for="text"><h3> Editar Servicios </h3></label>
        <br><br>
        <div class="form-group">
            <label for="text">Nombre Servicio</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="Servicio">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Precio</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" name="Precio">


            <button " type="submit" name="Submit" class="btn btn-primary" value="Insertar">Editar</button>



    </form>


</body>
</html>